$base_color: #73881E;
$secon_color: #B28E48;
$blue: #1E4C88;


.temporary {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
}



/*  GENERAL  ---------------------------------------------------------------------*/
html,body,#app {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	min-height: 100%;
	flex-direction: row;
  background-image: url('../img/body_background_2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

#main {
  width: 80%;
  height: 100%!important;
  margin: 0 auto;
}

.container_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  width: 100%;
}

.container_column {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100%;
}

.modal-dialog {
  height: 50%;
}

.modal-content {
  height: 100%;
}

.modal-header {
}

.modal-body {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body a {
  width: 45%;
  height: 100%;
}

.borders {
  border-left: 3px solid $blue;
  padding-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
}
div.borders {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
input[type="text"]:focus {
  outline: none;
  border-bottom: solid 2px $blue;
  box-shadow: none;
}
input[type="number"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
input[type="number"]:focus {
  outline: none;
  border-bottom: solid 2px $blue;
  box-shadow: none;
}
input[type="password"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
input[type="password"]:focus {
  outline: none;
  border-bottom: solid 2px $blue;
  box-shadow: none;
}
input[type="email"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
input[type="email"]:focus {
  outline: none;
  border-bottom: solid 2px $blue;
  box-shadow: none;
}






/*  MESSAGES  ---------------------------------------------------------------------*/
.messages {
  width: 100%;
  padding: 2%;
  align-items: flex-start;
}

.button_koop {
  margin: 1% 0 0 0!important;
}







/*  NIEUW  ---------------------------------------------------------------------*/
#input2, #input3 {
  display: none;
}







/*  HOMEPAGE  ---------------------------------------------------------------------*/
.homepage {
  height: 100%;
}

.container-left,
.container-right {
  flex: 1;
  height: 80%;

  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.homepage .container-left {
  background-image: url('http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg');
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.homepage .container-right {
  background-image: url('http://farm3.staticflickr.com/2813/9069585985_80da8db54f.jpg');
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.container-left,
.container-right {
  a {
    width: 100%;
    text-align: center;
  }
  a h1 {
    color: black;
  }
  a:hover {
    text-decoration: none;
  }
}


/*  OFFER and BUY  ---------------------------------------------------------------------*/
.offer-container {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 1%!important;
  padding: 0.5%;
}

.offer-container .container_row .button {
  width: 450px!important;
}

.offer {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3%;
}

.offer .title_offer {
  width: 100%;
}

.offer .info_offer {
  width: 90%;
  margin: 0 auto;
  height: 135px;
}

.offer .left {
  flex: 3;
  padding-left: 5%;
}

.offer .left img {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.offer .right {
  flex: 9;
  padding-left: 5%;
  padding-right: 5%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.offer .right span h2 {
  margin: 0;
}

.offer .panel-footer {
  width: 100%;
}

.buy_detail {
  height: auto!important;
}

/*  DASHBOARD  ---------------------------------------------------------------------*/
.dashboard {
  background-image: none;
  width: 100%;
}

.dashboard:first-child {
  padding-right: 2%;
}

.dashboard:last-child {
  padding-left: 2%;
}

.dashboard .panel {
  width: 100%;
}




// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  color: #777;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}


/*
Add transition to containers so they can push in and out.
*/

#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}


/*
This is the parent `<div>` that contains the menu and the content area.
*/

#layout {
  position: relative;
  padding-left: 0;

  width: 100%;
}

#layout.active #menu {
  left: 200px;
  width: 200px;
}

#layout.active .menu-link {
  left: 200px;
}


/*
The content `<div>` is where all your content goes.
*/

.content {
  height: 80%;
  margin: 0 auto;
  margin-bottom: 0;
  padding-top: 1%;
  line-height: 1.6em;
}

.header {
  height: 20%;
  min-height: 140px;
  margin: 0;
  color: #333;
  text-align: center;
  position: relative;
}

.pure-menu-heading {
  padding: 0!important;
}

.header form {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.header form input {
  padding: 5px 5px 5px 15px;
  border: none;
  width: 80%;
  height: 50px;
  float: left;
}

.header form button {
  padding: 0;
  border: none;
  width: 20%;
  height: 50px;
  float: right;
}

.header h1 {
  margin: 0 0 0.2em 0;
  min-height: 50px;
  padding-top: 2%;
  padding-bottom: 1%;
  font-size: 3em;
  font-weight: 300;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.header h2 {
  font-weight: 300;
  color: #ccc;
  padding: 0;
  margin-top: 0;
}

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888;
}


/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
  margin-left: -200px;
  /* "#menu" width */
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  /* so the menu or its navicon stays above all content */
  background: rgba(0,0,0,0.8);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}


/*
    All anchors inside the menu should be styled like this.
    */

#menu a {
  color: white;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}


/*
    Remove all background/borders, since we are applying them to #menu.
    */

#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
}


/*
    Add that light border to separate items into groups.
    */

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333;
}


/*
        Change color of the anchor links on hover/focus.
        */

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: #333;
}


/*
    This styles the selected menu item `<li>`.
    */

#menu .pure-menu-selected,
#menu .pure-menu-heading {
  background: #1f8dd6;
}


/*
        This styles a link within a selected menu item `<li>`.
        */

#menu .pure-menu-selected a {
  color: #fff;
}


/*
    This styles the menu heading.
    */

#menu .pure-menu-heading {
  font-size: 110%;
  color: #fff;
  margin: 0;
}


/* -- Dynamic Button For Responsive Menu -------------------------------------*/


/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/


/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/

.menu-link {
  position: fixed;
  display: block;
  /* show this only on small screens */
  top: 0;
  left: 0;
  /* "#menu width" */
  font-size: 14px;
  /* change this value to increase/decrease button size */
  z-index: 10;
  width: 5em;
  height: auto;
  padding: 2.1em 1.6em 2.1em 1.6em;
  min-height: 50px;
}

.menu-link span {
  position: relative;
  display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: black;
  width: 100%;
  height: 0.2em;
}

.menu-link span:before,
.menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " ";
}

.menu-link span:after {
  margin-top: 0.6em;
}


/* -- Responsive Styles (Media Queries) ------------------------------------- */


/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/

@media (min-width: 72em) {
  #layout {
    padding-left: 200px;
    /* left col width "#menu" */
    left: 0;
  }
  #menu {
    left: 150px;
    margin-left: -150px;
  }
  .menu-link {
    position: fixed;
    left: 150px;
    display: none;
  }
  #layout.active .menu-link {
    left: 200px;
  }
}

@media (max-width: 72em) {
  /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
  #layout.active {
    position: relative;
    left: 200px;
  }

  #main {
    width: 100%;
  }

  .content {
    padding-bottom: 2.5em;
  }
  .container-left,
  .container-right {
    width: 100%;
  }

  .offer-container{
    width: 100%;
  }
  .header h1 {
    font-size: 2.5em;
  }
  .header form {
    width: 95%;
    left: 0;
    right: 0;
  }
}

@media (max-width: 48em) {
  /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
  .homepage {
    flex-direction: column;
  }
  .menu-link {
    padding: 1.6em 1.6em;
  }
}












/* -- Modal Login adn Register ------------------------------------- */


/* Container */
.container_card {
  position: relative;
  width: 100%;
}
.container_card.active .card:first-child {
  background: #f2f2f2;
}
.container_card.active .card:nth-child(2) {
  background: #fafafa;
}
.container_card.active .card.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0 80px;
  overflow: hidden;
}
.container_card.active .card.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  -webkit-transform: scale(10);
  transform: scale(10);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.container_card.active .card.alt .toggle:before {
  content: '';
}
.container_card.active .card.alt .title,
.container_card.active .card.alt .input-container,
.container_card.active .card.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.container_card.active .card.alt .title {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.container_card.active .card.alt .input-container {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.container_card.active .card.alt .input-container:nth-child(2) {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.container_card.active .card.alt .input-container:nth-child(3) {
  -webkit-transition-delay: .45s;
          transition-delay: .45s;
}
.container_card.active .card.alt .input-container:nth-child(4) {
  -webkit-transition-delay: .45s;
          transition-delay: .45s;
}
.container_card.active .card.alt .input-container:nth-child(5) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.container_card.active .card.alt .input-container:nth-child(6) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.container_card.active .card.alt .input-container:nth-child(7) {
  -webkit-transition-delay: .55s;
          transition-delay: .55s;
}
.container_card.active .card.alt .input-container:nth-child(8) {
  -webkit-transition-delay: .55s;
          transition-delay: .55s;
}
.container_card.active .card.alt .button-container {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

/* Card */
.card {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px 0 10px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
}
.card:first-child {
  width: 96%;
  background: #fafafa;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 auto;
  padding: 0;
}
.card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid $blue;
  margin: 0 0 5px;
  padding: 5px 0 5px 50px;
  color: $blue;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .input-container {
  position: relative;
  margin: 0 60px 15px;
}
.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 30px;
  border: 0;
  color: #212121;
  font-size: 18px;
  font-weight: 400;
}
.card .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
  content: '';
  position: absolute;
  background: $blue;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
.card .button-container {
  margin: 0 60px;
  text-align: center;
}
.button-container {
  margin: 0 auto 1% auto;
  text-align: center;
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.button-container .container_row .button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.button-container .container_row .button a {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: block;
  width: 100%;
  padding: 20px 0;
}
.button-container .container_row .button a:hover {
  text-decoration: none;
}
.card .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: $blue;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.button-container .container_row .button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: $blue;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
  border-color: $blue;
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
  color: $blue;
}
.card .button-container button:active span, .card .button-container button:focus span {
  color: #ffffff;
}
.card .button-container button:active:before, .card .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}
.button-container .container_row .button:hover, .button-container .container_row .button:active, .button-container .container_row .button:focus {
  border-color: $blue;
}
.button-container .container_row .button:hover a, .button-container .container_row .button:active a, .button-container .container_row .button:focus span {
  color: $blue;
}
.button-container .container_row .button:active a, .button-container .container_row .button:focus a {
  color: #ffffff;
}
.button-container .container_row .button:active:before, .button-container .container_row .button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}
.card .footer {
  margin: 40px 0 0;
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.card .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .footer a:hover {
  color: #bababa;
}
.card.alt {
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 140px;
  height: 140px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Toggle */
  /* Title */
  /* Input */
  /* Button */
}
.card.alt .toggle {
  position: relative;
  background: $blue;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 58px;
  line-height: 140px;
  text-align: center;
  cursor: pointer;
}
.card.alt .toggle:before {
  content: '\f040';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.card.alt .title,
.card.alt .input-container,
.card.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.card.alt .title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}
.card.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}
.card.alt .title .close:before {
  content: '\00d7';
}
.card.alt .input-container input {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ label {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}
.card.alt .input-container input:valid ~ label {
  color: #ffffff;
}
.card.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}
.card.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}
.card.alt .button-container button {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}
.card.alt .button-container .container_row .button {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}
.card.alt .button-container button span {
  color: $blue;
}
.card.alt .button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.card.alt .button-container button:active:before, .card.alt .button-container button:focus:before {
  display: none;
}
.card.alt .button-container .container_row .button a {
  color: $blue;
}
.card.alt .button-container .container_row .button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.card.alt .button-container .container_row .button:active:before, .card.alt .button-container .container_row .button:focus:before {
  display: none;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}